# --- Compiled output ---
/dist/
/build/
/tmp/
/out-tsc/
/bazel-out/

# --- Dependencies ---
/node_modules/

# --- Babel ---
/babel-cache/
/.cache/          # used by Babel, Webpack, and others like eslint-loader

# --- Webpack ---
/webpack-stats.json
/webpack-report.html
/webpack-cache/

# --- Profiling files ---
chrome-profiler-events*.json
speed-measure-plugin*.json

# --- Logs and Debug ---
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
testem.log
/libpeerconnection.log

# --- Angular ---
.angular/
.angular/cache/
.angular/config.json

# --- IDEs and editors ---
/.idea/
/project
/.classpath
/.c9/
*.launch
/.settings/
*.sublime-workspace

# --- VS Code ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode/.history/

# --- Misc ---
/coverage/
/connect.lock
/typings/
/.sass-cache/

# --- System files ---
.DS_Store
Thumbs.db
